.order-login-page {
  position: relative;
  height: 100vh;
  background-color: #fff;
}
.login-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.mt-login-btn {
  background-color: $mt-color;
  color: #fff;
}
