$index-radius: 60px;

.pd-container {
  padding-left: 24px;
  padding-right: 24px;
}

.index-wrapper {
  font-family: Monospaced Number, Chinese Quote, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    height: 100vh;
  background-color: $mt-color;
  font-family: PingFangSC-Regular, PingFang SC;
  .index-container {
    padding: 24px 0;
    border-top-left-radius: $index-radius;
    border-top-right-radius: $index-radius;
    background-image: linear-gradient(
      to bottom,
      #fff 0%,
      $mt-page-bg-color 350px,
      $mt-page-bg-color 100%
    );
    overflow: hidden;
  }
}
.search-bar {
  $search-bar-height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $search-bar-height;
  line-height: $search-bar-height;
  border: 2px solid $mt-color;
  border-radius: $index-radius;
  overflow: hidden;
  &-icon {
    margin-left: 20px;
    color: $mt-text-gray;
  }
  &-text {
    flex: 1;
    padding: 0 10px;
    color: $mt-text-gray;
    font-size: 24px;
  }
  &-btn {
    height: 100%;
    padding: 0 28px;
    color: $mt-text-color;
    border-radius: $index-radius;
    background-color: $mt-color;
    font-size: 26px;
  }
}
.search-tags {
  display: flex;
  align-items: center;
  margin-top: 15px;
  &-item {
    background-color: #f1f1f1;
    color: $mt-text-color;
  }
  &-item + &-item {
    margin-left: 15px;
  }
}
