$filter-menu-height: 60px;

@mixin bgTranstion($attr: color, $duration: 0.5s) {
  transition: background-#{$attr} $duration;
}

.filter-menu-container {
}
.filter-menu {
  position: relative;
  height: $filter-menu-height;
  padding: 20px 0;
  @include bgTranstion;
}
.quick-tags {
  position: relative;
  width: 92%;
  height: 100%;
  padding: 0 24px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: $filter-menu-height;
  padding: 0 30px;
  margin-right: 20px;
  font-size: 24px;
  background-color: #fff;
  color: #666;
  @include bgTranstion;
  &.active {
    background-color: $mt-color;
  }
}
.menu-icon-bg {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // TODO: icon位置调整
  width: 12%;
  height: $filter-menu-height;
  transform: translateY(-50%);
  background-image: linear-gradient(
    to left,
    #f6f6f6 0% 60%,
    rgba(0, 0, 0, 0) 100%
  );
  @include bgTranstion("image");
}
.menu-icon {
  margin: 0 15px 0 0;
  font-size: 30px;
  font-weight: bold;
}
.atag {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
// 吸顶样式
.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  .tag {
    background-color: #f6f6f6;
  }
  .menu-icon-bg {
    background-image: linear-gradient(
      to left,
      #fff 0% 60%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
